<p>
    <mat-toolbar>
     <button mat-icon-button class="example-icon" routerLink="/login" aria-label="Example icon-button with menu icon">
        <img src="../../assets/capybara-svgrepo-com.svg" alt="no hay imagen pa">
    </button>
    <span>Capiapp</span>
    
    <span class="example-spacer"></span>
    <button mat-raised-button routerLink="/prueba"  color="accent">registro</button>
    
    <button mat-raised-button routerLink="/login" style="margin-left: 10px;" color="accent">login</button>
  </mat-toolbar>
  </p>
  
